<div class="animated fadeIn">
	<div class="row">
    <div class="col-lg-12">
		 <div class="card">
		 	<div class="card-header">
		 		<i class="fa fa-align-justify"></i> <b>New Board</b>
		 	</div>
        	<div class="card-body">
        	  	<form class="form-inline" [formGroup] = "boardForm" (ngSubmit)="createNewBoard()">
        			<input type="text" placeholder="Enter Url Trello Board" class="form-control form-control-sm" formControlName="url" style="min-width: 300px">
         			<button type="submit" [disabled] = "!boardForm.valid" class="btn btn-sm btn-primary mx-1"><i class="fa fa-plus-o"></i> Add</button>
          		</form>
	        </div>
	    </div>
    </div>
	</div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <b>Trello Boards</b>
        </div>
        <div class="card-body">
          <ngx-datatable class="bootstrap" [rows]="boards" [limit]="10" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="50">
            <ngx-datatable-column name="Name">
              <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.name}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Url">
              <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.url}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="idBoard">
              <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.id_board}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action">
              <ng-template let-row="row" ngx-datatable-cell-template>
               <a href="javascript:void(0)" (click)="updateListTrello(row.id_board)"><span  tooltip="Update Trello's List" class="fa fa-refresh "></span></a>
                <a href="javascript:void(0)"><span tooltip="Delete" (click)="deleteBoard(row.id)" class="fa fa-trash text-danger"></span></a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>