<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <b>Profile</b>
        </div>
        <div class="card-body">
          <form [formGroup]="updateForm" (ngSubmit)="update()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="required"><b>Username</b></label>
                  <input type="text" class="form-control form-control-sm" formControlName="name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="required"><b>Fullname</b></label>
                  <input type="text" class="form-control form-control-sm" formControlName="full_name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="required"><b>Email</b></label>
                  <input type="email" class="form-control form-control-sm" formControlName="email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name"><b>Key ( Trello )</b></label>
                  <i> Take key and token Trello at <a href="https://trello.com/app-key" target="_blank" title=""><i><b>here</b></i></a> ( must loggin before )</i>
                  <input type="text" class="form-control form-control-sm" formControlName="key">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name"><b>Token ( Trello )</b></label>
                  <input type="text" class="form-control form-control-sm" formControlName="token">
                </div>
              </div>
              <div class="col-md-12 ">
                <button type="reset" class="btn btn-sm btn-danger float-left">Reset</button>
                <button type="submit" [disabled]="!updateForm.valid" class="btn btn-sm btn-primary float-left ml-2">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <b>Change Password</b>
        </div>
        <div class="card-body">
          <form [formGroup]="passForm" (ngSubmit)="updatePassword()">
             <div class="row">
                <div class="col-md-6">
                <div class="form-group">
                  <label class="required"><b>Current Password</b></label>
                  <input type="password" class="form-control form-control-sm" formControlName="password">
                </div>
              </div>
              <div class="col-md-6"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="required"><b>New Password</b></label><span>(With ISO rule)</span>
                  <input type="password" class="form-control form-control-sm" formControlName="new_password">
                </div>
              </div>
              <div class="col-md-6"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="required"><b>Repeat New Password</b></label>
                  <input type="password" class="form-control form-control-sm" formControlName="re_new_password">
                  <span *ngIf="showWarning" class="text-danger"><i> * Password not match</i></span>
                </div>
              </div>
              <div class="col-md-6"></div>
              <div class="col-md-12">
                <div class="form-group">
                  <button type="reset" class="btn btn-sm btn-danger float-left">Reset</button>
                  <button type="submit" [disabled]="!passForm.valid" class="btn btn-sm btn-primary float-left ml-2">Update</button>
                </div>
              </div>
             </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>