<div class="animated fadeIn">
	<div class="row">
    <div class="col-lg-12">
		 <div class="card">
        	<div class="card-body">
        	  <form [formGroup]="searchForm" (ngSubmit)="searchTask()" class="form-inline">
            	<div class="form-group mx-1">
              		<input type="date" formControlName="to" class="form-control form-control-sm">
            	</div>
            	<div class="form-group mx-1">
             		 <input type="date" formControlName="from" class="form-control form-control-sm">
            	</div>
            	<div class="form-group mx-1">
             		 <select class="form-control form-control-sm" formControlName="status">
             		 	<option value="all">--ALL--</option>
		                <option value="1">NEW</option>
		                <option value="2">PROGRESSING</option>
		                <option value="3">DONE</option>
		                <option value="4">REOPEN</option>
		              </select>
            	</div>
             		<button type="submit" [disabled]="!searchForm.valid" class="btn btn-sm btn-primary mx-1"><i class="fa fa-dot-circle-o"></i> Search</button>
          			<button type="reset" [disabled]="!searchForm.valid" (click)="resetForm()" class="btn btn-sm btn-danger mx-1"><i class="fa fa-ban"></i> Reset</button>
          	</form>
        </div>
    </div>
      </div>
	</div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <b>Tasks</b>
          <button type="reset" class="btn btn-sm btn-primary mx-1 float-right" (click)="infoModal.show()" (click)="getAllList()"  data-toggle="modal" ><i class="fa fa-plus-square"></i> New Task</button>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
              <tr class="thead-dark">
                <th>Title</th>
                <th class="text-center">Datestart</th>
                <th class="text-center">Deadline</th>
                <th class="text-center">Status</th>
                <th class="text-center">Progressing(%)</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tasks | paginate: config">
                <td>{{item.task.name}}</td>
                <td class="text-center">{{item.task.date_start}}</td>
                <td class="text-center">{{item.task.due}}</td>
                <td class="text-center">
                    <span  *ngIf="item.status == 0" class="badge badge-success">NEW</span>
                    <span  *ngIf="item.status == 1" class="badge badge-warning">PROGRESSING</span>
                    <span  *ngIf="item.status == 2" class="badge badge-danger">DONE</span>
                    <span  *ngIf="item.status == 3" class="badge badge-secondary">REOPEN</span>
                </td>
                <td class="text-center">{{item.progressing}}</td>
                <td class="text-center">
                  <a href=""><span tooltip="Edit" class="fa fa-edit "></span></a>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
             <div class="float-right">
               <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
             </div>
          	
            <!-- <ul class="pagination float-right">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul> -->
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal new task -->
<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Task</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="cardForm" (ngSubmit)="createCard()">
        <div class="modal-body">
          <div class="card-body">
             <div class="form-group">
              <label for="assign">Trello Board</label>
              <select class="form-control form-control-sm" >
                <option value="1">INTERNAL</option>
                <option value="2">Test</option>
              </select>
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control form-control-sm" formControlName="name" required id="name">
            </div>
            <div class="form-group">
              <label for="date_expired">Date Expired</label>
              <input type="date" class="form-control form-control-sm" formControlName="expired_date" id="date_expired" required>
            </div>
            <div class="form-group">
              <label for="assign">Assign</label>
              <select class="form-control form-control-sm" formControlName="assign" multiple>
                <option value="1">thieu.nguyen</option>
                <option value="2">hieu.do</option>
              </select>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label for="idList">List</label>
                <select name="list" formControlName="idList" class="form-control form-control-sm">
                  <option *ngFor="let l of list" value="{{l.id}}">{{l.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
          <button type="submit" [disabled]="!cardForm.valid" class="btn btn-info">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End modal new task -->
